.link-box.polygon {
    background-color: #8045a9;
    color: #ffffff;
}

.link-box.unichain {
    background-color: #ff1493;
    color: #ffffff;
}

.link-box.celo {
    background-color: #eaff00;
    color: #ffffff;
}

.link-box.fuse {
    background-color: #aaffb0;
    color: #ffffff;
}

.link-box.zksync {
    background-color: #e6e6e6;
    color: #ffffff;
}

.link-box.arbitrum {
    background-color: #2D374B;
    color: #ffffff;
}

.link-box.base {
    background-color: #0052ff;
    color: #ffffff;
}

.link-box.avax {
    background-color: #E84142;
    color: #ffffff;
}

.link-box.bera {
    background-color: #6D4D30;
    color: #ffffff;
}

.link-box.blast {
    background-color: #d9ff00;
    color: #ffffff;
}

.link-box.cronos {
    background-color: #3c00ff;
    color: #ffffff;
}

.link-box.gnosis {
    background-color: #007914;
    color: #ffffff;
}

.link-box.ink {
    background-color: #7132F5;
    color: #ffffff;
}

.link-box.linea {
    background-color: #000000;
    color: #ffffff;
}

.link-box.op {
    background-color: #FF0420;
    color: #ffffff;
}

.link-box.pol_zkevm {
    background-color: #8045a9;
    color: #ffffff;
}

.link-box.scroll {
    background-color: #FFEC9E;
    color: #ffffff;
}

body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Section {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Heading {
    font-size: 90px;
    padding: 10px;
    text-align: center;
    color: #000000;
    background: linear-gradient(to right, #E84142, #FF0420, #FFA500, #eaff00, #007914,
            #aaffb0, #3c00ff, #0052ff, #7132F5, #ff1493);
    background-size: 99999% 99999%;
    animation: gradientMove 10s infinite ease-in-out;
    border-radius: 10px;
    width: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradientMove {
    0% { background-position: 0%; }
    10% { background-position: 10%; }
    20% { background-position: 20%; }
    30% { background-position: 30%; }
    40% { background-position: 40%; }
    50% { background-position: 50%; }
    60% { background-position: 60%; }
    70% { background-position: 70%; }
    80% { background-position: 80%; }
    90% { background-position: 90%; }
    100% { background-position: 100%; }
}


.Chain_Heading {
    font-size: 60px;
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    color: #04ff00;
    background-color: #222222;
    border-radius: 10px;
    width: 100%;
}

.Chain_Top_Heading {
    font-size: 60px;
    padding: 10px 0px;
    text-align: center;
    color: #04ff00;
    background-color: #222222;
    border-radius: 10px;
    width: 100%;
}

.Chain_Fees {
    font-size: 30px;
    padding: 10px 0px;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    border-radius: 10px;
    width: 100%;
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.link-box {
    width: 90%;
    padding: 25px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-text {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #222222;
    border-radius: 10px;
    padding: 10px 100px;
}

.link-button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #00bbff;
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease;
}

.link-button:hover {
    background-color: #dddddd;
    transform: scale(1.4);
}

.coinmarketcap-currency-widget {
    background-color: #202020ed;
    color: #d9ff00;
}

.Horizontal_CMC_Icon {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    padding: 10px;
}

.Liquidity_Entrance {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.Liquidity_Entrance_Heading {
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
}

.Liquidity_Entrance_Data {
    color: #000000;
}

.Pegged_Crypto_Heading {
    background-color: wheat;
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 45px;
}

.Pegged_Crypto {
    background-color: rgb(255, 166, 0);
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    width: 90%;
}
