body {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.liquidity-section {
  width: 100%;
  padding: 0 5%;
  margin-bottom: 30px;
  text-align: center;
}

#Heading {
  font-size: 60px;
  padding: 10px 10px;
  text-align: center;
  color: #000000;
  background: linear-gradient(to right, #8247e5, #f3ba2f, #8247e5, #627eea, #ff0033);
  background-size: 300% 100%;
  animation: gradientMove 8s infinite;
  border-radius: 15px;
  width: 100%;
  font-weight: bolder;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  font-size: 32px;
  padding: 10px 20px;
  text-align: center;
  color: #04ff00;
  background-color: #222222;
  border-radius: 10px;
  width: 100%;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.link-box {
  width: 80%;
  padding: 25px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-box.polygon {
  background-color: #6a0dad;
}

.link-box.unichain {
  background-color: #ff1493;
}

.box-text {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.link-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease;
}

.link-button:hover {
  background-color: #dddddd;
  transform: scale(1.05);
}

.coinmarketcap-currency-widget{
  background-color: #202020ed;
  color: #d9ff00;
  
}
